---


const portfolioCards = [

[


{
imgUrl: "/assets/img/my-portfolio.png",
technology: " Astro, React, TailwindCSS",
description: "A portfolio website to showcase projects and skills. Built with astro framework, react and tailwindcss. The idea was to keep the design simple and avoid distracting animations with a functional form for easy communication ",
animation: " card animate__animated animate__fadeInUp",
webUrl: "https://kombojmg.vercel.app",
gitUrl: "https://github.com/Thebuilderekes/kombo"
},

{
imgUrl: "/assets/img/kombo-img.webp",
technology: " CSS, TailwindCSS, Javascript",
description: "A static dark themed website.  Website visitors can connect with the website owner through social media handles, make a call to mobile and also send email messages using the functional form on the website.",
animation: " card animate__animated animate__fadeInUp",
webUrl: "https://kombojmg.vercel.app",
gitUrl: "https://github.com/Thebuilderekes/kombo"
},

{
imgUrl: "/assets/img/jackson-img.webp",
technology: " HTML, CSS, Javascript",
description: "An Actors/Artist's website. The Idea behind this project was to have a gallery to display the actor's works with their descriptions and also guide the  website visitors to his social media pages where they can connect to him and view more of his works. ",
animation: " card animate__animated animate__fadeInUp",
webUrl: "https://jackson-tan.vercel.app",
gitUrl: "https://github.com/Thebuilderekes/jackson"
},

], 

[
{
imgUrl: "/assets/img/praize-img.webp",
technology: " CSS, Bootstrap, Javascript",
description: "This is simple commmerce website for a jewelry store where users can order through the either through contacts available on the website or through a payment gateway. ",
animation: " card animate__animated animate__fadeInUp",
webUrl:  "https://praizecollectables.vercel.app/",
gitUrl: "https://github.com/Thebuilderekes/shop"
},
{
imgUrl: "/assets/img/bank-website.png",
technology: " HTML, CSS grid, Javascript",
description: "The idea behind this website was to make ithe design look like a resume. The layout was achieved using CSS grid.",
animation: " card animate__animated animate__fadeInUp",
webUrl:  "https://praizecollectables.vercel.app/",
gitUrl: "https://thebuilderekes.github.io/Bank-resume/"
},
{
imgUrl: "/assets/img/wuka-website.png",
technology: " CSS, Bootstrap, Javascript",
description: "Thi is a website for a music artiste. The idea was to lead the website visitors to the music links to various streaming platforms. Built using SASS and bootstrap ",
animation: " card animate__animated animate__fadeInUp",
webUrl:  "https://praizecollectables.vercel.app/",
gitUrl: "https://github.com/Thebuilderekes/shop"
},

]

]
---

<section class="portfolio" id="portfolio">
  <h2>PORTFOLIO</h2>
  <div class="design-text">PORTFOLIO</div>
  <div class="card-container">
    {portfolioCards[0].map(portfolioCard =>
    <div class={portfolioCard.animation}>
        <figure>
          <img src={portfolioCard.imgUrl} alt="portfolio card" />
        </figure>
      <p><span>Technologies used:</span> {portfolioCard.technology}</p>
      <p>{portfolioCard.description}</p>
      <div class ="btn-group">
        <a href={portfolioCard.webUrl} target = "_blank" role="link">VISIT WEBSITE</a>   
        <a class="github-btn" href={portfolioCard.gitUrl} target = "_blank" role="link">GITHUB</a>   
        
        </div>
    </div>
    )
    }
  </div>

  <div class="card-container">
    {portfolioCards[1].map(portfolioCard =>
    <div class={portfolioCard.animation}>
        <figure>
          <img src={portfolioCard.imgUrl} alt="portfolio card" />
        </figure>
      <p><span>Technologies used:</span> {portfolioCard.technology}</p>
      <p>{portfolioCard.description}</p>
      <div class ="btn-group">
        <a href={portfolioCard.webUrl} target = "_blank" role="link">VISIT WEBSITE</a>   
        <a class="github-btn" href={portfolioCard.gitUrl} target = "_blank" role="link">GITHUB</a>   
        
        </div>
    </div>
    )
    }
  </div>
</section>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

/* archivo-black-regular - latin */
@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/archivo-black-v17-latin/archivo-black-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/archivo-black-v17-latin/archivo-black-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/archivo-black-v17-latin//archivo-black-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/archivo-black-v17-latin/archivo-black-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/archivo-black-v17-latin//archivo-black-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/archivo-black-v17-latin//archivo-black-v17-latin-regular.svg#ArchivoBlack') format('svg'); /* Legacy iOS */
}


/* PORTFOLIO SECTION STYLES*/

  .portfolio {
    padding: 7rem 2rem;
    background-color: #ffffff;
    position: relative;
  }

@media (min-width:1400px){
 .portfolio {

    padding: 7rem 3rem;

    }
}

@media (max-width: 800px){
    .portfolio {

      padding: 4rem 3rem;

    }
  }

  .portfolio h2 {
    padding-bottom: 4rem;
    background: #0A1926;
    background: linear-gradient(to right, #0A1926 0%, #3535C4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media (max-width:800px) {
    .portfolio h2 {
      font-size: 3rem;
    }
  }

  .portfolio .design-text {
    font-family: 'Archivo Black';
    position: absolute;
    top: 5%;
    font-size: 10rem;
    opacity: 0.1;
  }

  @media (max-width:800px){

    .portfolio .design-text {
    position: absolute;
    top: 1%;

  }
  }

  @media (max-width: 1026px){
    
    .portfolio .design-text {
      font-size: 5rem;

  }

 }

 @media (max-width:600px){
    
    .portfolio .design-text {
      top: 2%;
      font-size: 2.8rem;
  }

 }


/* PORTFOLIO CARD STYLES*/
  .portfolio .card-container {
    margin : 3rem 0;
    display: flex;
    gap: 1.5rem;
  }

  .portfolio .card-container .card {
    width: 33.33%;
    padding: 0.9rem;
    background-color: #e4e4f8;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;

  }

  .animate__animated.animate__fadeInUp {

    --animate-duration: 4s;
  }

  @media (max-width: 900px) {
    .portfolio .card-container .card {
      width: 100%;
    }
 
  }

  .portfolio .card-container .card figure {
    position: relative;
    z-index: 10;
    width: 100%;
  }

  .portfolio .card-container .card figure img {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    width:100%; 
    height: auto; 
  }

 
  .portfolio .card-container .card figure figcaption {
   padding: 0;
   margin: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-color:  #00000088;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 20;
    visibility: hidden;
 
  }

  .portfolio .card-container .card .btn-group {
    display: flex;
     
  }

  .portfolio .card-container .card .btn-group a{
    font-weight: 600;
    padding: 5px 10px;
     text-decoration: none;
     font-size: 1rem;
     background-color: #0A1926;
     color: #ffffff;
     border-radius: 10px;
 
  }

  @media (max-width: 900px){  
     .portfolio .card-container .card .btn-group a {
      font-size: 14px;
    }

  }


  .portfolio .card-container .card .btn-group .github-btn {
    margin-left: 15px;
  }
  .portfolio .card-container .card a:hover , a:focus {
    color: #0A1926;
background-color: #ffffff;

  }


  .portfolio .card-container .card figure:hover > figcaption {
    visibility: visible;
  }
  

  .portfolio .card-container .card p {
  font-family: "Helvetica";
    font-size: 0.8rem;
    line-height: 1.5;
    text-align: left;
    padding: 0.9rem 0;
  }

  .portfolio .card-container .card p span {
    font-weight: 900;
  }


  @media (max-width:800px) {
    .card-container {
      flex-direction: column;
    }
  }
</style>
