---
import "../components/ThemeToggle.astro";

const portfolioCards = [
  {
    imgUrl: "/assets/img/johnweb.jpg",
    technology: "React, TailwindCSS",
    ariaLabel: "Photographer's portfolio",
    heading: "Photographer's website",
    description: "A photographer's website that showcases his works and also connects users to his email and social media pages, providing better exposure to the photographer and his works.",
    alt: "screenshot of photographer's website",
    animation: "card animate__animated animate__fadeInUp",
    webUrl: "https://johnsnapmemo.vercel.app",
    gitUrl: "https://github.com/Thebuilderekes/johnphotography",
  },
  {
    imgUrl: "/assets/img/wuka-web.jpg",
    technology: "React, styled components",
    ariaLabel: "Musician's website",
    heading: "Musician's website",
    description: "A landing page for a musician, designed to direct visitors to links for different streaming platforms, allowing users to listen to his music.",
    alt: "screenshot of musician landing page website",
    animation: "card animate__animated animate__fadeInUp",
    webUrl: "https://wuka.vercel.app/",
    gitUrl: "https://github.com/Thebuilderekes/wuka-react-app",
  },
  {
    imgUrl: "/assets/img/restaurant.jpg",
    technology: "CSS, Javascript",
    ariaLabel: "project: a restaurant landing page",
    heading: "Restaurant landing page",
    description: "An elegant restaurant landing page that showcases products and provides buttons for customers to place orders.",
    alt: "screenshot of restaurant landing page website",
    animation: "card animate__animated animate__fadeInUp",
    webUrl: "https://restaurant-landingpage-ten.vercel.app/",
    gitUrl: "https://github.com/Thebuilderekes/restaurant-landingpage",
  },
  {
    imgUrl: "/assets/img/luxegems-webscreen.jpg",
    technology: "Bootstrap, Javascript",
    ariaLabel: "project: jewelry store website",
    heading: "Jewelry store",
    description: "A jewelry store website where customers can order products using 'place order' buttons or contact the store via contact information in the footer.",
    alt: "screenshot of jewelry ecommerce website",
    animation: "card animate__animated animate__fadeInUp",
    webUrl: "https://jewelrystore.vercel.app/",
    gitUrl: "https://github.com/Thebuilderekes/shop",
  },
  {
    imgUrl: "/assets/img/kombo-img.webp",
    technology: "TailwindCSS, Javascript",
    ariaLabel: "project: a dark-themed professional portfolio website",
    heading: "Professional portfolio",
    description: "A dark-themed portfolio website with a working contact form that lets visitors connect with him via email, social media, or phone.",
    alt: "screenshot of dark-themed portfolio website",
    animation: "card animate__animated animate__fadeInUp",
    webUrl: "https://kombojmg.vercel.app",
    gitUrl: "https://github.com/Thebuilderekes/kombo",
  },
  {
    imgUrl: "/assets/img/jackson-img.webp",
    technology: "CSS, Javascript",
    ariaLabel: "project: an artist's website",
    heading: "An artist's portfolio",
    description: "An artist's website that introduces the artist and their work, with links to social media pages for further information.",
    alt: "screenshot of artist's website",
    animation: "card animate__animated animate__fadeInUp",
    webUrl: "https://jackson-tan.vercel.app",
    gitUrl: "https://github.com/Thebuilderekes/jackson",
  }

];
---

<style>

	/* PORTFOLIO SECTION STYLES*/

	.portfolio-section {
		font-family: "Inter", sans-serif;
		background-color: var(--light-green-color);
	}

	.portfolio-section.dark {
		background-color: var(--darker-green-color);
	}

	@media (max-width: 800px) {
		.portfolio-section {
			padding: 4.5rem 1rem;
		}
	}

	h2 {
	  font-family: "Archivo Black";
		font-weight: 700;
		color: var(--light-grey-color);
		text-align: center;
	}

	.portfolio-heading.dark {
		color: var(--light-grey-color);
	}

	@media (min-width: 800px) {
		.portfolio-section h2 {
			padding-bottom: 3rem;
			font-size: var(--fs-64);
		}
	}

	/* PORTFOLIO CARD STYLES*/
	.portfolio-section .card-container {
		padding: 3rem 0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, minmax(0, 1fr));
		grid-column-gap: 5rem;
		grid-row-gap: 5rem;
	}

	.card {

		color: var(--darker-green-color);
		padding: 1rem;
		background-color: var(--light-grey-color);
		border-top-right-radius: 24px;
		border-top-left-radius: 24px;
		box-shadow:
			0 1px 3px rgba(0, 0, 0, 0.12),
			0 1px 2px rgba(0, 0, 0, 0.24);
	}

  .card article {
    display: flex;
    flex-direction:column;
    gap: 0.3rem;
  }

  .card article:hover {
  	transform: translate(-10px -10px);
  }


  .card .flex-col-reverse {
   display: flex;
   flex-direction: column-reverse;
  }


  .card h3  {
    font-size: var(--fs-24);
  margin-top: 1.5rem;
    font-weight: 600;
  }	
	 .card.dark {
		 background: var(--dark-green-color);
		 color: var(--light-grey-color); 
	} 

	.animate__animated.animate__fadeInUp {
		--animate-duration: 2s;
	}

	@media (max-width: 900px) {
		.portfolio-section .card-container .card {
			width: 100%;
		}
	}

	.portfolio-section .card-container .card figure {
		position: relative;
		z-index: 10;
		width: 100%;
	}

	.portfolio-section .card-container .card figure img {
		border-top-right-radius: 16px;
		border-top-left-radius: 16px;
		width: 100%;
	}

	.card p {
		font-size: var(--fs-24);
		text-align: left;
		padding: 0.9rem 0;
		line-height: 1.5;
	}

	@media (max-width: 600px) {
		.portfolio-section .card-container .card p {
			font-size: var(--fs-default);
		}
	}

	.portfolio-section .card-container .card p span {
		font-weight: 900;
	}

	.portfolio-section .card-container .card .btn-group {
		display: flex;
	}

	.portfolio-section .card-container .card .btn-group a {
		text-decoration: none;
	  position: relative;
		padding: 5px 10px;
		font-weight: 600;
		font-size: var(--fs-24);
		color: #ffffff;
		background-color: var(--darker-green-color);
		border: 3px solid transparent;
		border-radius: 10px;
	}

/*opens in new tab tip*/
.portfolio-section .card-container .card .btn-group a::after {
  content: "opens in new tab";
  background: var(--dark-green-color);
  position: absolute;
  left: 0;
  bottom: -1.5em;
  white-space: nowrap;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  opacity: 0; /* Start hidden */
  visibility: hidden; /* Prevents space allocation */
  transition: opacity 0.3s ease, visibility 0.3s ease;

  }

.portfolio-section .card-container .card .btn-group a:hover::after {
  opacity: 1; /* Make the message visible on hover */
  visibility: visible;
  }

.portfolio-section .card-container .card .btn-group a:focus {
  border: 3px solid green;
}

.portfolio-section .card-container .card .btn-group a:hover {
		background-color: var(--light-grey-color);
		color: var(--accent-color);
		border-color: var(--accent-color);
	}

	@media (max-width: 900px) {
		.portfolio-section .card-container .card .btn-group a {
			font-size: 1rem;
		}
	}

	.portfolio-section .card-container .card .btn-group .github-btn {
		margin-left: 15px;
}


	.portfolio-section .card-container .card a:hover,
	a:focus {
		color: #0a1926;
		background-color: #ffffff;
	}

	@media (max-width: 950px) {
		.portfolio-section .card-container {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(6, 1fr);
			grid-row-gap: 50px;
		}
	}
</style>

<section aria-label="portfolio-heading" class="portfolio-section section-padding" id="portfolio">
	<h2 class="portfolio-heading section-heading fade-in-up">PORTFOLIO</h2>
	<ul role="list" class="card-container">
		{
		portfolioCards.map((portfolioCard) => (
		<li class={portfolioCard.animation} aria-label={portfolioCard.ariaLabel} id="card">
      <article>
        <div class="flex-col-reverse">
          <h3>{portfolioCard.heading}</h3>
      <figure>
						<img src={portfolioCard.imgUrl} alt={portfolioCard.alt} />
      </figure>
        </div>
          <div class="text">
					<p>{portfolioCard.description}</p>
					<p>
						<span>Technologies:</span> {portfolioCard.technology}
          </p>
          </div>
					<div class="btn-group">
						<a href={portfolioCard.webUrl}
              aria-label=" visit website (opens in a new tab)"
              class="btn" 
              target="_blank" 
              role="link">
							VISIT WEBSITE
						</a>
						<a
              aria-label=" visit github repo for website (opens in a new tab)"
							class="github-btn btn"
              target="_blank" 
							href={portfolioCard.gitUrl}
							aria-disabled="true"
							role="link"
						>
							GITHUB
						</a>
          </div>
          <article>
				</li>
			))
		}
	</ul>
</section>

