---
import "../components/ThemeToggle.astro";
const portfolioCards = [
	
		{
			imgUrl: "/assets/img/wuka-website.png",
			technology: " CSS, React, styled components",
			description:
				"A website for a music artiste that was designed to guide the attention of visitors to click on the link that leads to various streaming platforms",
			animation: " card animate__animated animate__fadeInUp",
			webUrl: "https://wuka.vercel.app/",
			gitUrl: "https://github.com/Thebuilderekes/wuka-react-app",
		},

		{
			imgUrl: "/assets/img/jackson-img.webp",
			technology: " CSS, Javascript",
			description:
				"An Actor/Artist website that allows users to view the works of the actor/artiste by guiding the attention of visitors to the social media pages of actor/artiste.",
			animation: " card animate__animated animate__fadeInUp",
			webUrl: "https://jackson-tan.vercel.app",
			gitUrl: "https://github.com/Thebuilderekes/jackson",
		},

		{
			imgUrl: "/assets/img/kombo-img.webp",
			technology: " TailwindCSS, Javascript",
			description:
				"A dark themed website where visitors can connect with the website owner through their social media handles, place a direct call through the phone icon as well as send email messages using the functional form.",
			animation: " card animate__animated animate__fadeInUp",
			webUrl: "https://kombojmg.vercel.app",
			gitUrl: "https://github.com/Thebuilderekes/kombo",
		},
	

	
		{
			imgUrl: "/assets/img/restaurant-web.png",
			technology: " CSS, Javascript",
			description:
				"A restaurant landing page that showcases products and provides a buttons for customers to place orders.",
			animation: " card animate__animated animate__fadeInUp",
			webUrl: "https://restaurant-landingpage-ten.vercel.app/",
			gitUrl: "https://github.com/Thebuilderekes/restaurant-landingpage",
		},

		{
			imgUrl: "/assets/img/luxegems.png",
			technology: " CSS, Bootstrap, Javascript",
			description:
				"A jewelry store website where users can place orders either through contacts available on the website or through the 'Place order' buttons under each product.",
			animation: " card animate__animated animate__fadeInUp",
			webUrl: "https://jewelrystore.vercel.app/",
			gitUrl: "https://github.com/Thebuilderekes/shop",
		},

		{
			imgUrl: "/assets/img/bank-website.png",
			technology: "CSS grid, Javascript",
			description:
				"A website that has a resume-like design that showcase the owner's educational qualifications and work experience.",
			animation: " card animate__animated animate__fadeInUp",
			webUrl: "https://thebuilderekes.github.io/Bank-resume/",
			gitUrl: "https://github.com/Thebuilderekes/Bank-resume",
		},

		
	]

---

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		scroll-behavior: smooth;
	}
	.dark {
		background-color: var(--darkTheme-color);
		color: #ffffff;
	}

	/* archivo-black-regular - latin */
	@font-face {
		font-family: "Archivo Black";
		font-style: normal;
		font-weight: 400;
		src: url("/assets/fonts/archivo-black-v17-latin/archivo-black-v17-latin-regular.eot"); /* IE9 Compat Modes */
		src: local(""),
			url("/assets/fonts/archivo-black-v17-latin/archivo-black-v17-latin-regular.eot?#iefix")
				format("embedded-opentype"),
			/* IE6-IE8 */
				url("/assets/fonts/archivo-black-v17-latin//archivo-black-v17-latin-regular.woff2")
				format("woff2"),
			/* Super Modern Browsers */
				url("/assets/fonts/archivo-black-v17-latin/archivo-black-v17-latin-regular.woff")
				format("woff"),
			/* Modern Browsers */
				url("/assets/fonts/archivo-black-v17-latin//archivo-black-v17-latin-regular.ttf")
				format("truetype"),
			/* Safari, Android, iOS */
				url("/assets/fonts/archivo-black-v17-latin//archivo-black-v17-latin-regular.svg#ArchivoBlack")
				format("svg"); /* Legacy iOS */
	}

	/* PORTFOLIO SECTION STYLES*/

	.portfolio {
		padding: 7rem 2rem;
		/* background-image: url("/assets/img/bg-img.webp"); */
		position: relative;
	}

	@media (min-width: 1400px) {
		.portfolio {
			padding: 7rem 3rem;
		}
	}

	@media (max-width: 800px) {
		.portfolio {
			padding: 3rem 3rem;
		}
	}

	 h2 {
		padding-bottom: 4rem;
		font-size: var(--fs-section-h2-mobile);
		font-weight: 600;
		color: #3535c4;
		text-align: center;
	}

	@media (min-width: 800px) {
		.portfolio h2 {
			font-size: 3rem;
			padding-bottom: 3rem;
			font-size: var(--fs-large);
		}
	}

	


	/* PORTFOLIO CARD STYLES*/
	.portfolio .card-container {
		margin: 3rem 0;
		display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-column-gap: 50px;
			grid-row-gap: 50px;
	}

	.portfolio .card-container .card {
		/* width: 31.33%; */
		padding: 0.9rem;
		background-color: #e4e4f8;
		border-top-right-radius: 24px;
		border-top-left-radius: 24px;
	}

	.animate__animated.animate__fadeInUp {
		--animate-duration: 2s;
	}

	@media (max-width: 900px) {
		.portfolio .card-container .card {
			width: 100%;
		}
	}

	.portfolio .card-container .card figure {
		position: relative;
		z-index: 10;
		width: 100%;
	}

	.portfolio .card-container .card figure img {
		border-top-right-radius: 16px;
		border-top-left-radius: 16px;
		width: 100%;
		height: auto;
	}

	.portfolio .card-container .card .btn-group {
		display: flex;
	}

	.portfolio .card-container .card .btn-group a {
		font-weight: 600;
		padding: 5px 10px;
		text-decoration: none;
		font-size: 1rem;
		background-color: #0a1926;
		color: #ffffff;
		border-radius: 10px;
	}

	@media (max-width: 900px) {
		.portfolio .card-container .card .btn-group a {
			font-size: 14px;
		}
	}

	.portfolio .card-container .card .btn-group .github-btn {
		margin-left: 15px;
	}
	.portfolio .card-container .card a:hover,
	a:focus {
		color: #0a1926;
		background-color: #ffffff;
	}

	.portfolio .card-container .card p {
		font-family: "Helvetica";
		font-size: 0.8rem;
		line-height: 1.5;
		text-align: left;
		padding: 0.9rem 0;
		color: #090329;
	}

	.portfolio .card-container .card p span {
		font-weight: 900;
	}

	@media (max-width: 800px) {
		.portfolio .card-container {
			display:grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(6, 1fr);
			grid-row-gap: 50px;
		}
	}
</style>

<section class="portfolio" id="portfolio">
	<h2 class="portfolio-heading">PORTFOLIO</h2>
	<div class="card-container">
		{
			portfolioCards.map((portfolioCard) => (
				<div class={portfolioCard.animation} id="card">
					<figure>
						<img src={portfolioCard.imgUrl} alt="portfolio card" />
					</figure>
					<p>{portfolioCard.description}</p>
					<p>
						<span>Technologies used:</span> {portfolioCard.technology}
					</p>
					<div class="btn-group">
						<a href={portfolioCard.webUrl} target="_blank" role="link">
							VISIT WEBSITE
						</a>
						<a
							class="github-btn"
							href={portfolioCard.gitUrl}
							target="_blank"
							role="link"
						>
							GITHUB
						</a>
					</div>
				</div>
			))
		}
	</div>
	
</section>
