---
import "../components/ThemeToggle.astro";

const portfolioCards = [
	{
		imgUrl: "/assets/img/wuka-web.jpg",
		technology: " CSS, React, styled components",
		description:
			"A landing page for a music artist that is designed to direct visitors to click on the links that lead to different streaming platforms.",
		animation: " card animate__animated animate__fadeInUp",
		webUrl: "https://wuka.vercel.app/",
		gitUrl: "https://github.com/Thebuilderekes/wuka-react-app",
	},

	{
		imgUrl: "/assets/img/jackson-img.webp",
		technology: " CSS, Javascript",
		description:
			"Actor/Artist website that showcases the actor/artist's work by directing visitors to their social media pages.",
		animation: " card animate__animated animate__fadeInUp",
		webUrl: "https://jackson-tan.vercel.app",
		gitUrl: "https://github.com/Thebuilderekes/jackson",
	},

	{
		imgUrl: "/assets/img/kombo-img.webp",
		technology: " TailwindCSS, Javascript",
		description:
			"A dark-themed website where visitors can contact the owner through their social media links, phone number, or email form.",
		animation: " card animate__animated animate__fadeInUp",
		webUrl: "https://kombojmg.vercel.app",
		gitUrl: "https://github.com/Thebuilderekes/kombo",
	},

	{
		imgUrl: "/assets/img/restaurant.jpg",
		technology: " CSS, Javascript",
		description:
			"A restaurant landing page that showcases products and provides a buttons for customers to place orders.",
		animation: " card animate__animated animate__fadeInUp",
		webUrl: "https://restaurant-landingpage-ten.vercel.app/",
		gitUrl: "https://github.com/Thebuilderekes/restaurant-landingpage",
	},

	{
		imgUrl: "/assets/img/luxegems.png",
		technology: " CSS, Bootstrap, Javascript",
		description:
			"A jewelry store website where customers can order products by using the 'place order buttons or contacting the store using the contact information",
		animation: " card animate__animated animate__fadeInUp",
		webUrl: "https://jewelrystore.vercel.app/",
		gitUrl: "https://github.com/Thebuilderekes/shop",
	},

	{
		imgUrl: "/assets/img/bank-website.png",
		technology: "CSS grid, Javascript",
		description:
			"A resume-style website that is designed to showcase the owner's educational qualifications and work experience in a clear and concise way. It is similar to a traditional resume, but it is presented in a more visually appealing",
		animation: " card animate__animated animate__fadeInUp",
		webUrl: "https://thebuilderekes.github.io/Bank-resume/",
		gitUrl: "https://github.com/Thebuilderekes/Bank-resume",
	},
];
---

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}


	.dark {
		background-color: var(--darkTheme-color);
		color: #ffffff;
	}

	/* PORTFOLIO SECTION STYLES*/

	.portfolio {
		position: relative;
	}

		.portfolio {
			padding: 3rem 3rem;
		}
	@media (max-width: 800px) {
		.portfolio {
			padding: 3rem 2rem;
		}
	}

	h2 {
		padding-bottom: 4rem;
		font-size: var(--fs-section-h2-mobile);
		font-weight: 700;
		color: #3535c4;
		text-align: center;
	}

	@media (min-width: 800px) {
		.portfolio h2 {
			font-size: 3rem;
			padding-bottom: 3rem;
			font-size: var(--fs-large);
		}
	}

	/* PORTFOLIO CARD STYLES*/
	.portfolio .card-container {
		margin: 3rem 0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 50px;
		grid-row-gap: 50px;
	}

	.portfolio .card-container .card {
		/* width: 31.33%; */
		padding: 0.9rem;
		background-color: #e4e4f8;
		border-top-right-radius: 24px;
		border-top-left-radius: 24px;
	}

	.animate__animated.animate__fadeInUp {
		--animate-duration: 2s;
	}

	@media (max-width: 900px) {
		.portfolio .card-container .card {
			width: 100%;
		}
	}

	.portfolio .card-container .card figure {
		position: relative;
		z-index: 10;
		width: 100%;
	}

	.portfolio .card-container .card figure img {
		border-top-right-radius: 16px;
		border-top-left-radius: 16px;
		width: 100%;
	}


	.portfolio .card-container .card p {
		font-family: "Helvetica";
		font-size: var(--fs-medium);
		line-height: 1.5;
		text-align: left;
		padding: 0.9rem 0;
		color: #090329;
	}

	
	@media (max-width: 600px) {

		.portfolio .card-container .card p {

			font-size: var(--fs-default);	

		}

	}
	.portfolio .card-container .card p span {
		font-weight: 900;
	}

	.portfolio .card-container .card .btn-group {
		display: flex;
	}

	.portfolio .card-container .card .btn-group a {
		font-weight: 600;
		padding: 5px 10px;
		text-decoration: none;
		font-size: var(--fs-medium);
		background-color: #0a1926;
		color: #ffffff;
		border-radius: 10px;
	}
	.portfolio .card-container .card .btn-group a:hover {
		background-color: var(--secondary-color);
		color: var(--accent-color);
		border: 1px solid var(--accent-color)
	}

	@media (max-width: 900px) {
		.portfolio .card-container .card .btn-group a {
			font-size: 1rem;
		}
	}

	.portfolio .card-container .card .btn-group .github-btn {
		margin-left: 15px;
	}
	.portfolio .card-container .card a:hover,
	a:focus {
		color: #0a1926;
		background-color: #ffffff;
	}



	@media (max-width: 800px) {
		.portfolio .card-container {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(6, 1fr);
			grid-row-gap: 50px;
		}
	}
</style>

<section class="portfolio section-padding" id="portfolio">
	<h2 class="portfolio-heading">PORTFOLIO</h2>
	<div class="card-container">
		{
			portfolioCards.map((portfolioCard) => (
				<div class={portfolioCard.animation} id="card">
					<figure>
						<img src={portfolioCard.imgUrl} alt="portfolio card" />
					</figure>
					<p>{portfolioCard.description}</p>
					<p>
						<span>Technologies:</span> {portfolioCard.technology}
					</p>
					<div class="btn-group">
						<a href={portfolioCard.webUrl} target="_blank" role="link">
							VISIT WEBSITE
						</a>
						<a
							class="github-btn"
							rel=”noopener noreferrer” 
							href=#
							aria-disabled="true"
						
							role="link"
						>
							GITHUB
						</a>
					</div>
				</div>
			))
		}
	</div>
</section>
