---
import "../components/ThemeToggle.astro";

const portfolioCards = [
	{
		imgUrl: "/assets/img/wuka-web.jpg",
		technology: " CSS, React, styled components",
		description:
			"A landing page for a musician, designed to direct visitors to click on the links that leads to different streaming platforms.",
		animation: " card animate__animated animate__fadeInUp",
		webUrl: "https://wuka.vercel.app/",
		gitUrl: "https://github.com/Thebuilderekes/wuka-react-app",
	},
	{
		imgUrl: "/assets/img/restaurant.jpg",
		technology: " CSS, Javascript",
		description:
			"An elegant restaurant landing page that showcases products and also provides buttons for customers to place orders.",
		animation: " card animate__animated animate__fadeInUp",
		webUrl: "https://restaurant-landingpage-ten.vercel.app/",
		gitUrl: "https://github.com/Thebuilderekes/restaurant-landingpage",
	},

	{
		imgUrl: "/assets/img/kombo-img.webp",
		technology: " TailwindCSS, Javascript",
		description:
			"A dark-themed website with a working contact form lets visitors connect with the owner via social media, phone, or email.",
		animation: " card animate__animated animate__fadeInUp",
		webUrl: "https://kombojmg.vercel.app",
		gitUrl: "https://github.com/Thebuilderekes/kombo",
	},

	{
		imgUrl: "/assets/img/jackson-img.webp",
		technology: " CSS, Javascript",
		description:
			"An artist's website that introduces the artist and their work, and provides links to their social media pages for further information.",
		animation: " card animate__animated animate__fadeInUp",
		webUrl: "https://jackson-tan.vercel.app",
		gitUrl: "https://github.com/Thebuilderekes/jackson",
	},

	{
		imgUrl: "/assets/img/luxegems.png",
		technology: " CSS, Bootstrap, Javascript",
		description:
			"A jewelry store website where customers can order products by using the 'place order' buttons or contacting the store using the contact information in the footer.",
		animation: " card animate__animated animate__fadeInUp",
		webUrl: "https://jewelrystore.vercel.app/",
		gitUrl: "https://github.com/Thebuilderekes/shop",
	},

	{
		imgUrl: "/assets/img/bank-website.png",
		technology: "CSS grid, Javascript",
		description:
			"A resume-style website that is designed to showcase the owner's educational qualifications and work experience in a clear and concise way.",
		animation: " card animate__animated animate__fadeInUp",
		webUrl: "https://thebuilderekes.github.io/Bank-resume/",
		gitUrl: "https://github.com/Thebuilderekes/Bank-resume",
	},
];
---

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	/* PORTFOLIO SECTION STYLES*/

	.portfolio-section {
		font-family: "Inter", sans-serif;
		position: relative;
	}

	.portfolio-section.dark {
		background-color: var(--darker-green-color);
	}
	@media (max-width: 800px) {
		.portfolio-section {
			padding: 4rem 1rem;
		}
	}

	h2 {
		font-size: var(--fs-section-mobile);
		font-weight: 700;
		color: var(--darker-green-color);
		text-align: center;
	}

	.portfolio-heading.dark {
		color: var(--light-grey-color);
	}

	@media (min-width: 800px) {
		.portfolio-section h2 {
			font-size: 3rem;
			padding-bottom: 3rem;
			font-size: var(--fs-large);
		}
	}

	/* PORTFOLIO CARD STYLES*/
	.portfolio-section .card-container {
		margin: 3rem 0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 5rem;
		grid-row-gap: 5rem;
	}

	.card {
		padding: 0.9rem;
		background-color: var(--light-grey-color);
		border-top-right-radius: 24px;
		border-top-left-radius: 24px;
		box-shadow:
			0 1px 3px rgba(0, 0, 0, 0.12),
			0 1px 2px rgba(0, 0, 0, 0.24);
	}

	.animate__animated.animate__fadeInUp {
		--animate-duration: 2s;
	}

	@media (max-width: 900px) {
		.portfolio-section .card-container .card {
			width: 100%;
		}
	}

	.portfolio-section .card-container .card figure {
		position: relative;
		z-index: 10;
		width: 100%;
	}

	.portfolio-section .card-container .card figure img {
		border-top-right-radius: 16px;
		border-top-left-radius: 16px;
		width: 100%;
	}

	.card {
		color: #090329;
	}

	.card p {
		font-size: var(--fs-semi-medium);
		text-align: left;
		padding: 0.9rem 0;

		line-height: 1.5;
	}

	@media (max-width: 600px) {
		.portfolio-section .card-container .card p {
			font-size: var(--fs-default);
		}
	}
	.portfolio-section .card-container .card p span {
		font-weight: 900;
	}

	.portfolio-section .card-container .card .btn-group {
		display: flex;
	}

	.portfolio-section .card-container .card .btn-group a {
		font-weight: 600;
		padding: 5px 10px;
		text-decoration: none;
		font-size: var(--fs-semi-medium);
		background-color: var(--darker-green-color);
		color: #ffffff;
		border-radius: 10px;
	}
	.portfolio-section .card-container .card .btn-group a:hover {
		background-color: var(--light-grey-color);
		color: var(--accent-color);
		border: 1px solid var(--accent-color);
	}

	@media (max-width: 900px) {
		.portfolio-section .card-container .card .btn-group a {
			font-size: 1rem;
		}
	}

	.portfolio-section .card-container .card .btn-group .github-btn {
		margin-left: 15px;
	}
	.portfolio-section .card-container .card a:hover,
	a:focus {
		color: #0a1926;
		background-color: #ffffff;
	}

	@media (max-width: 800px) {
		.portfolio-section .card-container {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(6, 1fr);
			grid-row-gap: 50px;
		}
	}
</style>

<section class="portfolio-section section-padding" id="portfolio">
	<h2 class="portfolio-heading">PORTFOLIO</h2>
	<div class="card-container">
		{
			portfolioCards.map((portfolioCard) => (
				<div class={portfolioCard.animation} id="card">
					<figure>
						<img src={portfolioCard.imgUrl} alt="portfolio-sectioncard" />
					</figure>
					<p>{portfolioCard.description}</p>
					<p>
						<span>Technologies:</span> {portfolioCard.technology}
					</p>
					<div class="btn-group">
						<a href={portfolioCard.webUrl} target="_blank" role="link">
							VISIT WEBSITE
						</a>
						<a
							class="github-btn"
							href="javascript:void(0)"
							aria-disabled="true"
							role="link"
						>
							GITHUB
						</a>
					</div>
				</div>
			))
		}
	</div>
</section>
