---

import "../css/index.css";
import "../components/ThemeToggle.astro";
import Navigation from "../components/Navigation.astro"
import Form from "../components/Form.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
import ThemeSwitcher from "../components/ThemeToggle.astro";
import "animate.css";

const { title, description, author, form, scrollToTop} =
	Astro.props;
---

<html lang="en">
	<BaseHead title={title} description={description} author={author} />
	<body>
		<header>
			<Navigation/>
		</header>
		<main>
			<slot />
			<ThemeSwitcher />
			<Form form={form} />
		</main>
		<Footer scrollToTop={scrollToTop} />

		<script>
function fadeInOnScroll() {
  const elements = document.querySelectorAll('.skills-heading, .card, .form-heading');
  const prefersReducedMotion = window.matchMedia('(prefers-reduced-motion: reduce)').matches;

  elements.forEach(element => {
    const rect = element.getBoundingClientRect();
    const windowHeight = window.innerHeight;

    if (rect.top <= windowHeight && !prefersReducedMotion) {
      element.classList.add('fade-in-up');
    }
  });
}

window.addEventListener('scroll', fadeInOnScroll);
window.addEventListener('load', fadeInOnScroll);


console.log("scrip working");
		</script>
	</body>
</html>
